  <header class="text-gray-700 bg-transparennt body-font">
    <div class="container flex flex-col flex-wrap p-5 mx-auto md:items-center md:flex-row ">
      <a class="flex items-center w-40 mb-4 font-medium text-gray-900 title-font md:mb-0">
        <%= image_tag(("artgal_logo.png"), class: "block lg:hidden h-16 w-auto")%>
        <%= image_tag(("artgal_logo.png"), class: "hidden lg:block h-16 w-auto") %>
      </a>
      <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto ">
        <p><%= link_to "ABOUT", "#about", class: "mr-5 px-3 py-2 text-sm font-semibold text-red-500 hover:text-gray-800"%></p>

      </nav>
      <a href="#download">
        <button
            class="items-center px-6 py-2 mt-4 font-semibold text-red-500 text-opacity-80 transition duration-500 ease-in-out transform bg-trasnparent border-2 border-red-500 rounded-lg lg:inline-flex lg:mt-px hover:border-400 hover:border-opacity-80 hover:bg-red-400 hover:text-white focus:ring focus:outline-none ">Download
        </button>
      </a>
    </div>
  </header>