<%= render 'shared/navbar' %>
<section class="overflow-hidden text-gray-700 body-font">
  <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
      <div class="flex flex-wrap -m-1 md:-m-2">
          <div class="flex flex-wrap w-1/4">
              
                  <div class="tooltip w-full p-1 md:p-2 ">
                        <img alt="gallery" class="download-button rounded-lg image-1 follow-mouse show-modal block object-cover object-center w-full h-full rounded-lg " 
                            src="https://cdn.abcotvs.com/dip/images/6101111_041320-kgo-ov-coronavirus-de-young-vid.jpg?w=1600">
                        <div class="container content">
                          <h1>This is Frida Kahlo</h1>
                          <p>What do you know about her?</p>
                        </div>
                        
                  </div>
                  
              
              <div class="w-full p-1 md:p-2">
                  <img alt="gallery" class=" image-2 block object-cover object-center w-full h-full rounded-lg"
                      src="https://www.si.edu/sites/default/files/newsdesk/photos/noguchi.lunar_.landscape_3254x4500.jpg">
              </div>
          </div>
          <div class="flex flex-wrap w-1/4">
              <div class="w-full p-1 md:p-2">
                  <img alt="gallery" class="image-3 block object-cover object-center w-full h-full rounded-lg"
                      src="https://i2.wp.com/www.brainpickings.org/wp-content/uploads/2014/02/rothko2.jpg?w=680&ssl=1">
              </div>
              <div class="w-full p-1 md:p-2">
                  <h1>Explore artists, artwork</h1>
                  <h1 class="image-4 text-lg">Get to know more about famous artists</h1>
            
                  
              </div>
          </div>
          <div class="flex flex-wrap w-1/4">
              <div class="w-full p-1 md:p-2">
                
                  <img alt="gallery" class="image-5 block object-cover object-center w-full h-full rounded-lg"
                      src="https://dl.airtable.com/au5DRpogT6OHsFvuzxOW_Landscape-with-house-and-two-cows.jpeg">
                
              </div>
              <div class="tooltip w-full p-1 md:p-2">
                    <img alt="gallery" class="follow-mouse image-6 show-modal block object-cover object-center w-full h-full rounded-lg " 
                        src="https://singulart-website-prod.s3.eu-central-1.amazonaws.com/famous/artists/cropped/famous_artist_65_787b2120f9007faa11ee5dcc543b4148.jpeg">
                    <div class="container content">
                      <h1>Who painted</h1>
                      <p>The Scream?</p>
                    </div>
              </div>
              
          </div>
          <div class="flex flex-wrap w-1/4">
            <div class="w-full p-1 md:p-2">
                <img alt="gallery" class="image-7 block object-cover object-center w-full h-full rounded-lg"
                    src="https://storage.googleapis.com/glide-prod.appspot.com/uploads-v2/UhXDjUq52qIfFMY7yWP3/pub/0RjUiihJFLM3ba4d4Fb3.jpg">
            </div>
            <div class="w-full p-1 md:p-2">
                <%= image_tag(("quote6.png"), class: "image-8 block object-cover object-center w-full h-full rounded-lg")%>
                
            </div>
            
          </div>

          
      </div>
</section>


<section class="text-gray-700 body-font">
    <div class="container flex flex-col items-center px-5 py-16 mx-auto lg:px-20 lg:py-10 md:flex-row" id="about">
        <div class="w-5/6 mb-10 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
            <%= image_tag(("artgal_1.png"), class: "object-cover object-center rounded", style: "height: 700px;") %>
        </div>
        <div
            class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
                                <h2 class="mb-1 text-xs font-medium tracking-widest text-blue-500 title-font ">Your tagline</h2>
            <h1 class="mb-8 text-2xl font-bold tracking-tighter text-center text-red-500 text-opacity-80 lg:text-left lg:text-5xl title-font">
                Medium length display headline.
            </h1>
            <p class="mb-8 text-lg font-semibold leading-relaxed text-center text-gray-700 lg:text-left lg:text-1xl">
            Static Tailwind CSS
            templates for easy integration
            with your go-to language.
            Designing your landing page usually takes weeks.
            Wickedtemplates has them ready for you so you take care of what really matters.
            Deploy stunning landing pages in no time.</p>
            
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-8 mx-auto py-36 lg:px-4">
        <div class="flex flex-col w-full mb-12 text-left lg:text-center">
            <h2 class="mb-1 text-xs font-semibold tracking-widest text-blue-600 uppercase title-font">a great
                header right here</h2>
            <h1 class="mb-6 text-2xl font-semibold tracking-tighter text-black sm:text-6xl title-font">
                ArtGal
                <br class="">
                to convey your users.
            </h1>
            <p class="mx-auto text-base font-semibold leading-relaxed text-gray-700 lg:w-1/2">Tailwind CSS templates
            with a wicked design.
            Professionally designed and 100% responsive static templates for startups and personal use.Whatever cardigan
                tote bag tumblr hexagon brooklyn
                asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of
                them man
                bun deep. </p>
        </div>
</section>







                                    

                                    
<div class="container" id="download">
  <div class="flex flex-col items-center text-center">
    <h1><a href="" >ios</a></h1>
    <h1><a href="">android</a></h1>
  </div>
</div>




      



<div class="tooltip">
  <span class="dot"></span>
  <div class="content">
    <h1>Tooltip heading</h1>
    <p>Some random text blah blah...</p>
  </div>
</div>

<br><br>

<div class="tooltip">
  <span class="dot"></span>
  <div class="content">
    <h1>Tooltip heading</h1>
    <p>Some random text blah blah...</p>
  </div>
</div>

<br><br>

<div class="tooltip specificLocation">
  <span class="dot"></span>
  <div class="content">
    <h1>Different location</h1>
    <p>Some random text blah blah...</p>
  </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>