<%= render 'shared/navbar' %>
<div class="artgal">
  <h1 >ArtGal</h1>
</div>

<div class="cards" id="app">
  <%= image_tag(("artgal1.png"), class: "gif-1", style: "height: 800px;") %>
  <h1><a href="">XXXX</a></h1>
</div>

<div class="container-contact" id="footer">
  <h1><a href="">XXXX</a></h1>
</div>

<div class="container-contact p-5" id="download">
  <div class="row d-flex justify-content-around">
    <h1><a href="" >ios</a></h1>
    <h1><a href="">android</a></h1>
  </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>