<%= render 'shared/navbar' %>

<section class="text-gray-700 body-font">
    <div class="container flex flex-col items-center px-5 py-16 mx-auto lg:px-20 lg:py-24 md:flex-row" id="about">
        <div class="w-5/6 mb-10 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
            <%= image_tag(("artgal2.png"), class: "object-cover object-center rounded", style: "height: 800px;") %>
        </div>
        <div
            class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
                                <h2 class="mb-1 text-xs font-medium tracking-widest text-blue-500 title-font">Your tagline</h2>
            <h1 class="mb-8 text-2xl font-bold tracking-tighter text-center text-red-300 lg:text-left lg:text-5xl title-font">
                Medium length display headline.
            </h1>
            <p class="mb-8 text-base leading-relaxed text-center text-gray-700 lg:text-left lg:text-1xl">
            Static Tailwind CSS
            templates for easy integration
            with your go-to language.
            Designing your landing page usually takes weeks.
            Wickedtemplates has them ready for you so you take care of what really matters.
            Deploy stunning landing pages in no time.</p>
            
        </div>
    </div>
</section>
                  
<div class="container" id="download">
  <div class="flex flex-col items-center text-center">
    <h1><a href="" >ios</a></h1>
    <h1><a href="">android</a></h1>
  </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>